<script setup lang="ts">
import { useNuxtApp } from 'nuxt/app';

import useSimpleHead from '~/composables/useSimpleHead.ts';

const { $translator: translator } = useNuxtApp();
useSimpleHead({
    title: `${translator.translate('admin.header')} • Moderation rules`,
}, translator);
</script>

<template>
    <Page>
        <NotFound v-if="!$isGranted('users') && !$isGranted('terms') && !$isGranted('sources') && !$isGranted('community')" />
        <div v-else>
            <p>
                <nuxt-link to="/admin">
                    <Icon v="user-cog" />
                    <T>admin.header</T>
                </nuxt-link>
            </p>
            <h2>
                <Icon v="user-cog" />
                Moderation rules
            </h2>

            <ModerationRules v-if="$isGranted('users') || $isGranted('community')" type="rulesUsers" label="Banning accounts" open />
            <ModerationRules v-if="$isGranted('terms')" type="rulesTerminology" label="Terminology" open />
            <ModerationRules v-if="$isGranted('sources')" type="rulesSources" label="Sources" open />
            <ModerationRules v-if="$isGranted('users') || $isGranted('community')" type="susRegexes" label="Keywords for automated triggers" />
        </div>
    </Page>
</template>
