<script setup lang="ts">
import AdminStorageTree from '~/components/admin/AdminStorageTree.vue';

const metasAsyncData = useFetch('/api/admin/storage/metas', { lazy: true });

const tree = computed(() => {
    const tree = new Map();
    for (const meta of metasAsyncData.data.value ?? []) {
        const path = meta.key.split(':');
        let subtree = tree;
        for (const chunk of path.slice(0, path.length - 1)) {
            if (!subtree.has(chunk)) {
                subtree.set(chunk, new Map());
            }
            subtree = subtree.get(chunk);
        }
        subtree.set(path[path.length - 1], meta);
    }
    return tree;
});
</script>

<template>
    <Page>
        <NotFound v-if="!$isGranted('code')" />
        <template v-else>
            <p>
                <nuxt-link to="/admin">
                    <Icon v="user-cog" />
                    <T>admin.header</T>
                </nuxt-link>
            </p>
            <h2>
                <Icon v="layer-group" />
                Storage
            </h2>

            <p>
                Gives an overview about mounted storages.
            </p>

            <button type="button" class="btn btn-outline-secondary" @click="metasAsyncData.execute()">
                <Icon v="sync" />
                Refresh
            </button>

            <Loading :value="metasAsyncData.data.value">
                <template v-for="[chunk, node] of tree.entries()" :key="chunk">
                    <AdminStorageTree v-if="node instanceof Map" :chunk :node />
                    <AdminStorageItem v-else :chunk :node />
                </template>
            </Loading>
        </template>
    </Page>
</template>
