<template>
    <div class="form-group">
        <draggable
            v-model="images"
            tag="ul"
            handle=".handle"
            ghost-class="ghost"
            class="list-unstyled"
            :item-key="(element) => element"
            @end="$emit('update:modelValue', images)"
        >
            <template #item="{ element }">
                <li class="mb-4">
                    <div class="input-group mb-1">
                        <button class="btn btn-light border handle" type="button" :aria-label="$t('table.sort')">
                            <Icon v="bars" />
                        </button>
                        <ImageThumb :id="element.value" small-size="flag" big-size="flag" size="2.4em" />
                        <input
                            v-model="element.name"
                            type="text"
                            class="form-control"
                            required
                            :maxlength="maxLength"
                            @keyup="update"
                            @change="update"
                        >
                        <button
                            class="btn btn-outline-danger"
                            type="button"
                            :aria-label="$t('crud.remove')"
                            @click.prevent="removeFile(element.value)"
                        >
                            <Icon v="times" />
                        </button>
                    </div>
                </li>
            </template>
            <template #footer>
                <li>
                    <ImageUploader
                        v-if="maxitems === null || modelValue.length < maxitems"
                        multiple
                        :name="name"
                        form
                        :sizes="sizes"
                        @uploaded="addFiles"
                    />
                </li>
                <li v-if="maxitems && modelValue.length > maxitems" class="alert alert-danger">
                    <Icon v="exclamation-triangle" />
                    <T :params="{ maxlength: maxitems }" class="ml-1">crud.validation.listMaxLength</T>
                </li>
            </template>
        </draggable>
    </div>
</template>

<script>
import draggable from 'vuedraggable';

import useDialogue from '../composables/useDialogue.ts';
import { curry } from '../src/helpers.ts';

export default {
    components: {
        draggable,
    },
    props: {
        modelValue: { required: true, type: Array },
        name: { default: 'images' },
        maxLength: { default: 24 },
        sizes: { default: 'all' },
        maxitems: { default: null },
    },
    emits: ['update:modelValue'],
    setup() {
        return {
            dialogue: useDialogue(),
        };
    },
    data() {
        return {
            images: this.modelValue,
            curry,
        };
    },
    watch: {
        modelValue() {
            this.images = this.modelValue;
        },
    },
    methods: {
        addFiles(fileIds) {
            this.$emit('update:modelValue', [...this.images, ...fileIds.map((id) => {
                return { value: id, name: '' };
            })]);
        },
        async removeFile(id) {
            await this.dialogue.confirm(this.$t('crud.removeConfirm'), 'danger');
            this.$emit('update:modelValue', this.images.filter((i) => i.value !== id));
        },
        update() {
            this.$emit('update:modelValue', this.images);
        },
    },
};
</script>
