<script setup lang="ts">
withDefaults(defineProps<{
    texts: string[];
    glue?: string;
    noicons?: boolean;
}>(), {
    glue: ', ',
});
</script>

<template>
    <span><template v-for="(text, i) in texts"><LinkedText :text="text.trim()" :noicons="noicons" /><span v-if="i !== texts.length - 1">{{ glue }}</span></template></span>
</template>
