<template>
    <section v-if="config.links.enabled && (config.links.mediaGuests.length || config.links.mediaMentions.length)">
        <h2>
            <Icon v="tv" />
            <T>links.media</T>
        </h2>
        <h3 v-if="config.links.mediaGuests.length && config.links.mediaMentions.length" class="mt-4 mb-2">
            <Icon v="microphone-alt" />
            <T>links.mediaGuests</T>
        </h3>
        <ul v-if="config.links.mediaGuests.length" class="list-unstyled">
            <LinkEntry v-for="link in config.links.mediaGuests" :key="link.url" :link="link" />
        </ul>
        <h3 v-if="config.links.mediaGuests.length && config.links.mediaMentions.length" class="mt-4 mb-2">
            <Icon v="quote-right" />
            <T>links.mediaMentions</T>
        </h3>
        <ul v-if="config.links.mediaMentions.length" class="list-unstyled">
            <LinkEntry v-for="link in config.links.mediaMentions" :key="link.url" :link="link" />
        </ul>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import useConfig from '../composables/useConfig.ts';

export default defineComponent({
    setup() {
        return {
            config: useConfig(),
        };
    },
});
</script>
