<template>
    <section v-if="config.links.enabled && config.links.recommended.length">
        <h2 class="mb-3">
            <Icon v="thumbs-up" />
            <T>links.recommended</T>
        </h2>
        <ul class="list-unstyled">
            <LinkEntry v-for="link in config.links.recommended" :key="link.url" :link="link" />
        </ul>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import useConfig from '../composables/useConfig.ts';

export default defineComponent({
    setup() {
        return {
            config: useConfig(),
        };
    },
});
</script>
