<style>
    body {
        font-family: Nunito;
    }
    h1, h2 {
        font-family: Quicksand;
    }
    h1 {
        font-size: 1.7em;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    ul {
        list-style: none;
    }
    ol li {
        margin-block-end: 0.5em;
    }
</style>

<h1>Ustawa o związkach partnerskich</h1>
<h2>Postulaty kolektywu „Rada Języka Neutralnego” (zaimki.pl)</h2>

<em>Pięć wybranych zagadnień, na których poruszeniu w procesie konsultacji najbardziej nam zależy:</em>

<ol>
    <li>
        Język ustawy powinien być inkluzywny tak, by nie wykluczać osób niebinarnych,
        czyli np. „związek partnerski mogą zawrzeć (dwie) osoby bez względu na płeć”
        czy „związek partnerski mogą zawrzeć (dwie) osoby tej samej lub różnych płci”.
    </li>
    <li>
        Związki partnerskie powinny dotyczyć zarówno związków jedno-, jak i różnopłciowych,
        żeby osoby transpłciowe chcące zawrzeć związek partnerski nie były zmuszone do rozwiązania go
        w sytuacji tranzycji prawnej.
    </li>
    <li>
        Małżeństwa zawarte za granicą powinny mieć wszystkie uprawnienia związków partnerskich,
        tak by osoby, które wzięły ślub w innym kraju, po przekroczeniu granic Polski
        nie stawały się sobie obce według prawa.
    </li>
    <li>
        Osoby w związku partnerskim powinny mieć prawo do przysposobienia dziecka drugiej osoby,
        zostania rodziną zastępczą, utworzenia rodzinnego domu dziecka oraz refundacji in vitro na równi z małżeństwami.
    </li>
    <li>
        Związki partnerskie nie powinny wykluczać osób poliamorycznych, a więc powinna istnieć możliwość
        zawarcia związku partnerskiego między więcej niż dwiema osobami lub zawarcia więcej niż jednego związku partnerskiego.
    </li>
</ol>

<footer>
    <img src="https://zaimki.pl/img/pl/logo/logo-full-path.svg" height="120px;">
    <ul>
        <li>zaimki.pl</li>
        <li>kontakt@zaimki.pl</li>
    </ul>
</footer>
