@import "assets/variables";

.nouns-table {
    .row-header {
        grid-template-columns: 1fr 1fr 1fr 3em;
    }

    .row-content {
        grid:
            "mascLabel masc mascPl"
            "femLabel fem femPl"
            "neutrLabel neutr neutrPl"
            "nbLabel nb nbPl"
            "sources sources sources"
            "buttons buttons buttons"
            / auto 1fr 1fr;

        @include media-breakpoint-up('md', $grid-breakpoints) {
            grid:
                "masc fem neutr buttons"
                "mascPl femPl neutrPl buttons"
                "sources sources sources buttons"
                / 1fr 1fr 1fr 3em;
        }
    }
}

.nouns-table-nonbinary {
    .row-header {
        grid-template-columns: 1fr 1fr 1fr 1fr 3em;
    }

    .row-content {
        @include media-breakpoint-up('md', $grid-breakpoints) {
            grid:
                "masc fem neutr nb buttons"
                "mascPl femPl neutrPl nbPl buttons"
                "sources sources sources sources buttons"
                / 1fr 1fr 1fr 1fr 3em;
        }
    }
}
