<script setup lang="ts">
import { formatSize } from '~/src/helpers.ts';

defineProps<{
    chunk: string;
    node: { size: number; atime: string; mtime: string };
}>();
</script>

<template>
    <div class="py-1 ps-3 d-flex justify-content-between">
        <code>{{ chunk }}</code>
        <span>
            <span class="badge text-bg-info">{{ formatSize(node.size) }}</span>
            <span class="badge text-bg-light">{{ node.atime }}</span>
        </span>
    </div>
</template>
