<script setup lang="ts">
import { useNuxtApp } from 'nuxt/app';

import useSimpleHead from '~/composables/useSimpleHead.ts';

definePageMeta({
    translatedPaths: (config) => translatedPathByConfigModule(config.inclusive),
});

const { $translator: translator } = useNuxtApp();
useSimpleHead({
    title: translator.translate('inclusive.headerLong'),
    description: translator.translate('inclusive.info')[0],
}, translator);
</script>

<template>
    <Page>
        <CommunityNav />

        <h2>
            <Icon v="book-heart" />
            <T>inclusive.headerLong</T>
        </h2>

        <section>
            <T>inclusive.info</T>
            <Share :title="$t('inclusive.headerLong')" />
        </section>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <InclusiveDictionary load />
    </Page>
</template>
