<template>
    <div>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Образование нейтралитивов с помощью суффиксов общего и среднего рода
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    К категории общего рода часто относятся оценочные слова с отрицательным и положительным значением,
                    образованные от прилагательных. Так, мы можем одинаково как о женщине, так и о мужчине сказать:
                    громила, верзила, соня, тихоня, копуша, лежебока, непоседа, умница, молодчина, детина, трудяга,
                    простофиля, горемыка, балда, сирота. Некоторые названия профессий не имеют гендерной окраски: судья,
                    бариста, тамада, и, в конце концов, коллега. Словами общего и среднего рода,
                    применимыми к людям разного гендера, являются детка, крошка, дитя, друже, супруже, старче, солнышко, звезда.
                </p>
                <p>
                    Общая закономерность обнаруживается в том, что слова, оканчивающиеся на гласные звуки и мягкий знак,
                    имеют потенциал быть нейтрально окрашенными. Образующими суффиксами часто выступают:
                    <em>-ак-(а), -ык-(а), -ин-(а), -ист-(а), -яг(а), -ыг(а), -ук(а), -ул(я), -уш(а), -уж-(е), -ч-(е)</em> и другие.
                    Есть и суффиксы, не имеющиие гендерные привязки и имеющиеся в языке, чтобы обозначить людей разных гендеров
                    — как суффикс <em>-чин-(а)</em> в словах «мужчина», «девчина» и «дурачина».
                    С использованием подобных морфем можно образовать такие нейтралитивы, как
                </p>
                <ul>
                    <li><strong>родче</strong> (родственница/родственник);</li>
                    <li><strong>борче</strong> (борица/борец);</li>
                    <li><strong>ловче</strong> (ловица/ловец);</li>
                    <li><strong>крысоловче</strong> (крысоловица/крысолов);</li>
                    <li><strong>лекарче</strong> (лекарь/лекарица);</li>
                    <li><strong>приятче</strong> (приятель/приятельница);</li>
                    <li><strong>родитче</strong> (родительница/родитель);</li>
                    <li><strong>водитче</strong> (водительница/водитель);</li>
                    <li><strong>продавчина</strong> (продавщица/продавец);</li>
                    <li><strong>художчина</strong> (художница/художник);</li>
                    <li><strong>специалиста</strong> (специалистка/специалист);</li>
                    <li><strong>храбрища, храбришка или храбрина</strong> (храбрица/храбрец);</li>
                    <li><strong>силачища, силачишка, силачишко или силачина</strong> (силачка/силач);</li>
                    <li><strong>красавче, красавже, красивко или красивка</strong> (красавица/красавец);</li>
                    <li><strong>имигрента</strong> (имигрантка/имигрант);</li>
                    <li><strong>ребёнко</strong> (ребёнка/ребёнок).</li>
                </ul>
            </div>
        </details>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Возврат к корням заимствованного слова
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    Интересным подходом также является возврат к изначальной, лишённой гендерной окраски форме слова в языке,
                    из которого оно было заимствовано. Примерами таких нейтралитивов могут служить несколяемые по падежам
                    <strong>геогра́фос</strong> и <strong>биоло́гос</strong> — греческие наименования профессий описания земного и познания живого.
                </p>
            </div>
        </details>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Система ALT+X нейтралитивов
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    Некоторые варианты нейтралитивов для существительных были предложены активистами.
                    Так, потихоньку набирают распространение ALT+X нейтралитивы,
                    разработанные <nuxt-link to="/@jellyreap0p">@jellyreap0p</nuxt-link>.
                    По задумке, они несут в себе некоторый символизм «отмены» гендерирования.
                    Так, окончание «альт», обычно сращиваемое с буквой «а» в суффиксе или окончании слова
                    (или добавляемое после основы), означает альтернативу. Примерами таких нейтралитивов являются:
                    <strong>асексуальт, музыкальт, консультальт</strong>. В свою очередь, окончание «икс» или «екс»,
                    обычно сращиваемое с буквой «и» или «е» в суффиксе или окончании слова (или добавляемое после основы),
                    означает знак креста, перечёркивание на гендерном окончании. Примерами таких нейтралитивов являются:
                    <strong>биромантикс, директрикс, подписчикс, подростекс</strong>. Ударение в слове остаётся неизменным и после
                    присоединения окончания всё ещё падает на ту морфему, на которую падало до.
                    В единственном числе ALT+X нейтралитивы не склоняются, чтобы избежать гендерирования,
                    а во множественном числе могут иметь формы склонения во всех падежах, кроме родительного и винительного.
                </p>
            </div>
        </details>
        <details class="border mb-3">
            <summary class="bg-light p-3">
                <h4 class="h5 d-inline">
                    Реклейминг через маскулятивы -ец -ен / "Микситивы"
                </h4>
            </summary>
            <div class="border-top p-4">
                <p>
                    Почему слово "автор" должно обязательно ассоциироваться с мужчиной? Хирург, учитель?
                    Что если мы будем использовать неологизмы для обозначения мужчин, когда это нужно,
                    а короткие слова, которые являются основой для остальных форм передадим нейтральному
                    роду (далее "н.род" или "н.р").
                    Таким дерзким образом можно в корне победить андроцентризм в языке, а <strong>не только</strong>
                    клеить заплатки в виде новых окончаний.
                    Слова н.рода склоняются иначе, чем слова мужского и являют собой нео-грамматическую категорию.
                    Рассмотрим на примере новойо авторэ:
                </p>
                <ul>
                    <li><strong>Эт новай автор такай интереснай!</strong>;</li>
                    <li><strong>Рассказ этойо новойо авторэ такой захватывающий!</strong>;</li>
                    <li><strong>Они пишут этойм новойм авторэ письмо.</strong>;</li>
                    <li><strong>Я обожаю этойо новойо авторэ!</strong>;</li>
                    <li><strong>Я хочу пообщаться с этойм новойм авторэйм!</strong>;</li>
                    <li><strong>Почему я не знавши* об этойм новойм авторе?</strong>;</li>
                </ul>
                <p>
                    *- реклейминг деепричастий на -ши в качестве глаголов н.рода - бывши, могши, ставши.
                    возвр. формы - с нео-оконч. -всь (или как вариант -лсь).
                    Деепричастия "купивши, шедши, ставши, бывши"
                    легко заменяются более распространёнными их формами "купив, идя, став, будучи", что "освобождает"
                    место под возможное их использование первых как глаголов н-рода.
                    В конце концов эта котовасия с родом у глаголов пошла как раз от того,
                    что изначально -л -ла -ло были аналогами современных "сделавший, сделавшая, сделавшее",
                    так что подобные грамматические перемены вполне естественны для языка.
                </p>
                <p>
                    Множественное число не отличается, кроме родительного и винительного
                    падежей - автор<strong>ох</strong>.
                    Как мы можем увидеть, в списке выше, присутствуют и новые указательные местоимения (тат,эт)
                    н.рода и прилагательные <strong>-ай/-яй</strong>
                    (т.к. красив<strong>а</strong>я-красивы<strong>й</strong>
                    больш<strong>а</strong>я-большо<strong>й</strong> син<strong>я</strong>я-сини<strong>й</strong>)
                    Стоит также отметить притяжательные слова <strong>май/майо, твай/твайо, наше/нашейо</strong>,
                    местоимение <nuxt-link to="/энэ">Энэ/ео</nuxt-link> или <nuxt-link to="/онэ">Онэ/ео</nuxt-link>;
                    Про то почему мне нравятся именно эти наверное будет отдельный блог-пост от меня,
                    но если кратко Онэ лучше на письме, и в современном языке а Энэ чуть более фантастичное,
                    но в случаях быстрой речи Э удобнее к распознаванию между ударным О у Он и редуцированного А у Она.
                </p>
                <p>
                    Если вам скажут "Эти авторы опытны", кого вы представите?
                    Не могу говорить за всех, но картина довольно размытая, неправда ли?
                    Как насчёт "Эти авторки опытны"? Тоже это видите?
                    Потому что в отличии от слова "авторы", "авторки" несут в себе только ж.р.
                    А теперь представим что мы все привыкли к фразе "Эти авторцы такие опытные".
                    Если нет, попробуйте сделать усилие и представить
                    мужчин с седой бородой и без, разного роста, веса, цвета кожи... Он - лучший квир-а́вторец!
                    Она - лучшая квир-авторка! Энэ лучшай квир-автор?
                    А может... авторче? авторикс? автор... Ответ? Все эти варианты в равной степени валидны.
                    Если вы не готовы всегда использовать н.род со словом "автор" и говорить "авторец" о мужчине авторе
                    (в контекстах где гендер авторэ релевантен) или ваши собеседниксы
                    не используют реклейминг, то стоит отдать предпочтение слову "авторче".
                    (Я считаю -ец -ка -че "симметричными" друг другу)
                </p>
                <p>
                    Слова заканчивающиеся на -г, такие как драматург, хирург, педагог
                    маскулинизируются с помощью суффикса <strong>-ен</strong>:
                    <strong>Драмматурген, хирурген, педагоген</strong>.
                    Освободившиеся основные их формы склоняются так же как автор в примере выше.
                    Между -ник и -ница хорошо звучит -никс, однако -ниче тоже имеет свой шарм.
                    Слова на <strong>-тель</strong> так же становятся нейтральными, тогда как их м.р.
                    формой становится <strong>-тельник</strong>:
                </p>
                <ul>
                    <li><strong>Май учитель живёт здесь.</strong>;</li>
                    <li><strong>У майо* учителе хорошее чувство юмора.</strong>;</li>
                    <li><strong>Она отправила ДЗ своейм учителе.</strong>;</li>
                    <li><strong>Учениксы любят нашейо учителе.</strong>;</li>
                    <li><strong>Поговори об этом с учительюм.</strong>;</li>
                    <li><strong>Что вы знаете о вашейм новойм учителе**.</strong>;</li>
                </ul>
                <p>
                    *- Возможно альтернативное написание "моейо", "своейо" вместо "майо", "свайо",
                    это будет исправляться и дополняться.
                    **- Здесь форма н.р. совпала с м.р, что в целом не критично,
                    так как контекст слов вокруг даёт понимание;
                    можно попробовать подчеркнуть нейтральность каким-то знаком.
                    Множественное число у н.формы - учители. Склоняется так же как и раньше - учителей учителям итд.
                    Так же валидно и допустимо в этой системе использование учитель/учители (ж.р) "О моей учители...",
                    "Подарить своей учители..." итп.
                    Довольно нетрудно представить пожилого трудовика или физрука, произнося слово "учительник".
                    Таким образом появляется симметрия
                    суффиксов <strong>-ник -ница -никс</strong>. -никсы опять же для тех случаев когда "отвзятое"
                    -тель не годится или нужно подчеркнуть нейтральность.
                </p>
                <p>
                    Напоследок отмечу, что система микситивов будет дополняться и незначительно
                    изменяться в том числе тем, как используют её люди.
                    Вы можете использовать их в своей речи, а можете не использовать, это ваше право.
                    <strong>В словаре нейтралитивов убедительная просьба как-либо отмечать,
                        когда слово является микситивом</strong>, например знаком ⍟ или пометкой "н.род"/(н-род)/(н.р).<br>
                    <i>Если слово в мужской колонке отмечено знаком ⍟,
                        это значит что оно здесь для "освобождения" основного слова для н.р.</i><br>
                    <i>Если слово в нейтральной колонке отмечено знаком ⍟,
                        это значит что оно склоняется по правилам энного рода.</i><br>
                    <i>Пожалуйста не ставьте знак ⍟ перед первым словом в колонке
                        это ломает алфавитную сортировку словаря.
                        С уважением, <nuxt-link to="/@MixieL">MixieL</nuxt-link>!
                    </i>
                </p>
            </div>
        </details>
        <div>
            <p>
                Нейтралитивы обычно употребляются со средними/нейтральными формами, например:
                «моё красивое партнёрикс пришло домой»,
                «май красивай партнёрче пришедши домой» или с формами множественного числа, например:
                «Оскар — истинные театраликс, они почти ежедневно ходят в театр».
            </p>
            <p>
                Мы представляем открытый для редактирования словарь существительных, указывающий их мужскую,
                женскую и нейтральную/среднюю/небинарную форму.
            </p>
            <p>
                Обратие внимание, что словарь расширяется и дабы не создавать дублетов,
                всегда проверяйте в поиске не было ли это слово внесено кем-то ранее.
                Используйте функцию "редактировать", если хотите добавить несколько форм не перечисленных ранее.
                Так же стоит воздержаться от добавления гендергэп-форм, кроме случаев где их вид нетривиален,
                например "Минист<strong>е</strong>р_ка".
            </p>
        </div>
        <Separator icon="book-open" />
        <slot></slot>
    </div>
</template>
