<script setup lang="ts">
import { shortForVariant } from '~/src/buildPronoun.ts';

definePageMeta({
    translatedPaths: (config) => {
        if (!config.pronouns.enabled || !config.pronouns.ask) {
            return [];
        }
        return withPronounPrefixesWithVariant(config, config.pronouns.ask.routes);
    },
});

const config = useConfig();
if (!config.pronouns.enabled || !config.pronouns.ask) {
    throw new Error('config.pronouns.ask is disabled');
}

const { $translator: translator } = useNuxtApp();
const route = useRoute();
const variant = route.meta.variant as string;

useSimpleHead({
    title: `${translator.translate('pronouns.intro')}: ${shortForVariant('ask', variant, translator)}`,
    description: translator.translate('pronouns.ask.description'),
    banner: `api/banner/${variant}.png`,
}, translator);
</script>

<template>
    <Page v-if="config.pronouns.enabled && config.pronouns.ask">
        <h2>
            <Icon v="tag" />
            <T>pronouns.intro</T><T>quotation.colon</T>
        </h2>

        <section>
            <div class="alert alert-primary">
                <h2 class="text-center mb-0">
                    <strong><Spelling :text="shortForVariant('ask', variant, translator)" /></strong>
                </h2>
            </div>
        </section>

        <section>
            <h2 class="h4">
                <Icon v="file-signature" />
                <T>pronouns.examples.header</T><T>quotation.colon</T>
            </h2>
            <ul>
                <li v-for="(example, i) in $t('pronouns.ask.examples')" :key="i">
                    <LinkedText :text="example" />
                </li>
            </ul>
        </section>

        <section>
            <div class="alert alert-light">
                <Icon v="info-circle" />
                <T>pronouns.ask.description</T>
            </div>
        </section>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <PronounGroup :pronouns="config.pronouns.ask.routes" />

        <section>
            <Share :title="`${$t('pronouns.intro')}: ${shortForVariant('ask', variant, translator)}`" />
        </section>

        <Separator icon="info" />
        <section class="mb-0">
            <h2 class="h4">
                <Icon v="info-circle" />
                <T>home.whatisit</T>
            </h2>
            <T>home.about</T>
            <Homepage align="center" />
        </section>
    </Page>
</template>
