<script setup lang="ts">
import { useNuxtApp } from 'nuxt/app';

import useSimpleHead from '~/composables/useSimpleHead.ts';

definePageMeta({
    translatedPaths: (config) => {
        if (!config.links.enabled || !config.links.academicRoute) {
            return [];
        }
        return [`/${encodeURIComponent(config.links.academicRoute)}`];
    },
});

const { $translator: translator } = useNuxtApp();
useSimpleHead({
    title: translator.translate('links.academic.header'),
}, translator);
</script>

<template>
    <Page>
        <LinksNav />

        <AcademicLinks />

        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.academic.header')" />
        </section>
    </Page>
</template>
