<script setup lang="ts">
import { useNuxtApp } from 'nuxt/app';

import useSimpleHead from '~/composables/useSimpleHead.ts';

definePageMeta({
    translatedPaths: (config) => {
        if (!config.links.enabled || !config.links.mediaRoute) {
            return [];
        }
        return [`/${encodeURIComponent(config.links.mediaRoute)}`];
    },
});

const { $translator: translator } = useNuxtApp();
useSimpleHead({
    title: translator.translate('links.media'),
}, translator);
</script>

<template>
    <Page>
        <LinksNav />

        <Media />

        <Socials />
        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.social')" />
        </section>
    </Page>
</template>
